Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteCond %{REQUEST_URI} suggest
RewriteRule suggest ./suggest.php



RewriteCond %{REQUEST_URI} (.*)
RewriteRule ^(.*)/view$ ./view.php?id=$1



