
h1.breadcum{
    margin-bottom: 0;
    margin-top: 3em;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 23px;
    margin: 0;
    color: black;
    margin-bottom: 9px;
}
#rrss li span span{
    color:white;
}
#firechat .chat{
    height: 190px;
}
#firechat .firechat-dropdown-toggle.btn,
#firechat .btn:hover,
#firechat .btn:focus{
    height: 27px;
}
#firechat .btn{
    color: #000 !important;
}
#firechat-wrapper,
#youtube-index {
    height: 285px;
    /*max-width: 325px;*/
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 0px auto;
    text-align: left;
    overflow-y: auto;
    margin-bottom: 10px;
    /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 25px #666;
    -moz-box-shadow: 0 5px 25px #666;
    box-shadow: 0 5px 25px #666;*/
}
#firechat-wrapper{
    height: 323px;
}
#youtube-index{
    padding: 0px;
    font-size: .9em;

}
.index{
    cursor:pointer;
    padding: 0 ;
    border-bottom: 1px dotted #ccc;
    line-height: 30px;
    height: 31px;
}
.index.selected{
    font-weight: bold;
    background-color: #eee;
}
#progress-container{
    border: 1px solid #ccc;
    margin-top: -12px;
    border-top: 0;
    position: relative;
}
#progress-container .progress-bar{
    width: 0%;
    padding: 8px 0 9px;
    height: 37px;
    margin-top: 2px;
}
#progress-container .progress-bar span.text{
    position: absolute;
    top: 9px;
    width: 100%;
    display: inline-block;
    color: black;
    left:0;
    font-weight: bold;
    text-shadow: 0px 0px 5px white;

}

.index:hover{
    background-color: #efefef;
}
.index span.time{
    color: #337AB7;
    display: inline-block;
    width: 18%;
    text-align: right;

    padding: 0 10px;
    border-right: 1px dotted #ccc;
}
.index span.time i{
    margin-left: 5px;
}
.index span.text{
    padding-left: 10px;
    width:75%;
    display: inline-block;
}

.index.viewed .fa-eye{
    color: black;
}
.index .view:hover .fa-eye{
    color: #337AB7;
}
.index.viewed .view:hover .fa-eye {
    color: red;
}

.index span{
    float: left;
    line-height: 31px;
    height: 31px;
}
.index span.view{
    float: right;
    height: 31px;
    width:7%;
    text-align: center;
}
.index i.fa-eye{
    margin-top: 8px;
    color: #ccc;
}
#youtubeVideo{
    width:100%;
    height: 285px;
    background: #181818;
}
#container{

}
.header{
    margin-bottom: 30px;
}
.acenter{text-align: center;}
#social-media img{
    width: 90%;
}
#social-media {
    position: fixed;
    font-size: 12px;
    right: 0px;
    color: #999;
    bottom: 30px;
}
#empresas {
    list-style: none;
    padding: 0;
}
.style-none li {
    display: block;
    margin-right: 0;
}
.style-none {
    margin: 0;
}
.style-none {
    margin: 20px 0;
    padding: 0;
}
#videoBar div{
    width: 33.333%;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    padding: 0 22px;
}
#videoBar div button{
    background-color: black;
    color: white;
    border-color: #333;
}
#videoBar {
    background-color: #181817;
    border: 1px solid #181817;
    border-top: 0;
    padding: 7px 4px;
    margin-top: -8px;
    text-align: center;
    box-sizing: border-box;
}
/*#firechat #firechat-header{display:none;}*/

#firechat .tab-pane-menu{display:none;}
#firechat .tab-pane .tab-pane-menu{
    display: none;
}
#firechat #firechat-tab-list{
    display:none;
}
#firechat-tabs{
    border-top: 1px solid #333;
}
.tab-content>.active{
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    min-height: 348px
}
#youtubeVideo iframe.webinars{
    height: 340px !important;
}
#firechat #firechat-tabs {
    height: 255px;
    overflow: hidden;
}

#fb-root{
    position: relative;
    top: -3px;
}
.stMainServices,.stButton .chicklets,.stButton .stButton_gradient {
    height: 22px !important;
}
#spinner{
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -35px;
}
#spinner img{
    width: 70px;
}
#logo{
    width: 24px;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: -3px;
}



.header-bg{
    background-color: black;
    height: 40px;
    position: absolute;
    width: 100%;
}

h3.text-muted{
    margin: 9px 0;
    color: white;
    font-size: 15px;
}

.header .nav>li>a{
    color:white;
    padding: 1px 15px;
}

div#video > div{
    text-align: center;
}

div#video > div > div{
    border: 1px dotted #ccc;
    padding: 14px;
    margin-bottom: 20px;
    background-color: #fefefe;
    cursor: pointer;

}
div#video > div > div:hover{
    background-color: #f0f0f0;
}

div#video > div h2{
    font-size: 13px;
    height: 17px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 10px;
}

.style-none{
    padding: 0;
    list-style: none;
    margin: 0;
}
#resources li{
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 21px;
    background-position: 0 2px;
    margin-bottom: 10px;
}



#resources li.ppts{ background-image: url(images/slides-icon.png); }
#resources li.youtube{ background-image: url(images/youtube-icon.png); }
#resources li.meetup{ background-image: url(images/meetup-icon.png); }


/* Related videos */
#related{
    text-align: center;
    margin-top: 10px;
}
#related li:hover{
    background-color: #F3F3F3;
}
#related li{
    width: 38%;
    cursor: pointer;
    text-align: center;
    border: 1px dotted #CCC;
    padding: 10px 0 0;
    display: inline-block;
    margin-bottom: 15px;
    background-color: #F6F6F6;
}
#related li:nth-child(even){}
#related li:nth-child(odd){
    margin-right: 9%;
}

#related img{

}
#related .videoDesc{
    text-align: center;
}
#related .videoTitle{
    margin-top: 10px;
    width: 92%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 10px auto;
}
#related .description{

}

#rating-msg{
    font-size: .8em;
    line-height: 21px;
    padding: 5px 15px;
    margin-bottom: 0;
}




/********************************

          PREFERENCES

*********************************/

#preferences.box{
    border: 0;
    padding-top: 1.5em;
    box-shadow: none;
}
#preferencesModal .geodev-academy{
    position: static;
    position: static;
    border: 0;
    box-shadow: none;
}
#preferencesModal .geodev-academy .close{display:none;}

div[data-grouping]{
    margin: 0 !important;
}
div[data-grouping] p{
    background-color: #CFE8FF;
    padding: .6em !important;
    text-transform: uppercase;
    cursor: pointer;
}
div[data-grouping] p:hover{
    font-weight: 300;
}
div[data-grouping] .options{
    padding: 0;
    display: none;
}
div[data-grouping="5041"]{display:none}
div[data-grouping] .col-md-6{
    width: 100%;
    margin-bottom: .5em;
}
div[data-grouping] i{
    margin-top: 5px;
}

div[data-grouping] .col-md-6 label{
    font-weight: normal;
}