Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^rankings ./rankings.php
RewriteRule ^(\d+)$ ./member.php?query=$1
RewriteRule ^(\d+)/editar$ ./edit-profile.php?meetup_id=$1
